html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.restaurant-img {
width: 240px;
height: 130px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
}
.restaurant-img img {
opacity: 0;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  background-image: url(../../images/Apperitives.jpeg);
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
  width: '100vw';
  height: '100vh';
}

.home-text {
  text-align: center;
}

.float-container {
  padding: 40px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}

.flex-container {
  display: flex;
  font-size: large;
}

.flex-child {
  flex: 1;
  width: 500px;
  margin-left: 20px;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #320914;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #ca5f68;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 5px 7.5px;
  font-size: 0.8rem;
}

.btn_sizeXs {
  padding: 10px 15px;
  font-size: 0.8em;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #860829;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.set-input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
Animations
-------------------------------------------------------------------------------- */

/* Source: Daily Tuition on Youtube */
.drops {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40px;
  left: 85%;
  border-radius: 1em;
  background-color: lightblue;
  border-top-right-radius: 0.2em;
  transform: rotate(-40deg);
  animation: drops 5.5s linear infinite;
}

.drops:nth-child(2) {
  left: 87%;
  animation-delay: 0.5s;
}

@keyframes drops {
  0% {
    opacity: 0.2;
    transform: translateY(0)rotate(-40deg)
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(400px);
    opacity: 2;
  }
}